*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: hsl(230, 100%, 75%);
  color: #213213;
}

.clock {
  font-size: 2rem;
  line-height: 2;
  position: relative;
  width: 32rem;
  height: 32rem;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px solid #555;
  border-radius: 50%;
}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
}

.clock .number1 {
  --rotation: 30deg;
}
.clock .number2 {
  --rotation: 60deg;
}
.clock .number3 {
  --rotation: 90deg;
}
.clock .number4 {
  --rotation: 120deg;
}
.clock .number5 {
  --rotation: 150deg;
}
.clock .number6 {
  --rotation: 180deg;
}
.clock .number7 {
  --rotation: 210deg;
}
.clock .number8 {
  --rotation: 240deg;
}
.clock .number9 {
  --rotation: 270deg;
}
.clock .number10 {
  --rotation: 300deg;
}
.clock .number11 {
  --rotation: 330deg;
}

.clock .hand {
  --rotation: 90;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  transform-origin: bottom;
}

.clock::after {
  content: "";
  position: absolute;
  background-color: #213213;
  z-index: 15;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock .hand.hour {
  width: 8px;
  height: 32%;
  background-color: saddlebrown;
}

.clock .hand.minute {
  width: 6px;
  height: 36%;
  background-color: blueviolet;
}

.clock .hand.second {
  width: 4px;
  height: 42%;
  background-color: darkorange;
}
